body {
  box-sizing: border-box;
}
header, footer {
  color: white;
  background-color: #2d3142;
}
.principal {
  color: #333333;
  background-color: #d8d5db;
  text-align: justify;
}
.sidebar {
  color: #333333;
  background-color: #adacb5;
}
.contenedor-general h1 {
  font-weight: 600;
}
.contenedor-general h2 {
  font-weight: 600;
}
.contenedor-general h3 {
  font-weight: 600;
}

p {
  font-size: 16px;
}
